<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="connection.url">
            jdbc:mysql://localhost:3306/db_multitienda
        </property>
        <property name="connection.driver_class">com.mysql.cj.jdbc.Driver
        </property>
        <mapping
                class="com.backend.multitienda.models.entity.CategoriaEmpresa"/>
        <mapping
                class="com.backend.multitienda.models.entity.CategoriaProducto"/>
        <mapping class="com.backend.multitienda.models.entity.Ciudad"/>
        <mapping class="com.backend.multitienda.models.entity.Distribuidor"/>
        <mapping class="com.backend.multitienda.models.entity.Distrito"/>
        <mapping class="com.backend.multitienda.models.entity.Empaque"/>
        <mapping class="com.backend.multitienda.models.entity.Empresa"/>
        <mapping class="com.backend.multitienda.models.entity.EstadoOrden"/>
        <mapping class="com.backend.multitienda.models.entity.OrdenCabecera"/>
        <mapping class="com.backend.multitienda.models.entity.OrdenDetalle"/>
        <mapping class="com.backend.multitienda.models.entity.Pais"/>
        <mapping class="com.backend.multitienda.models.entity.Permiso"/>
        <mapping class="com.backend.multitienda.models.entity.Producto"/>
        <mapping class="com.backend.multitienda.models.entity.Productoimagen"/>
        <mapping class="com.backend.multitienda.models.entity.Proveedor"/>
        <mapping class="com.backend.multitienda.models.entity.Sede"/>
        <mapping class="com.backend.multitienda.models.entity.StockProducto"/>
        <mapping class="com.backend.multitienda.models.entity.Unidadmedida"/>
        <mapping class="com.backend.multitienda.models.entity.Usuario"/>
        <mapping class="com.backend.multitienda.historiesLogs.PermisoHistory"/>
        <mapping class="com.backend.multitienda.historiesLogs.UsuarioHistory"/>
        <mapping class="com.backend.multitienda.historiesLogs.EmpresaHistory"/>
        <mapping
                class="com.backend.multitienda.historiesLogs.DistribuidorHistory"/>
        <mapping
                class="com.backend.multitienda.historiesLogs.ProveedorHistory"/>
        <!-- <property name="connection.username"/> -->
        <!-- <property name="connection.password"/> -->

        <!-- DB schema will be updated if needed -->
        <!-- <property name="hibernate.hbm2ddl.auto">update</property> -->
    </session-factory>
</hibernate-configuration>